<h1>Historique</h1>
<div>

  <div *ngFor="let vote of listeVotes; let i = index;" class="mx-3 my-3">
    <div class="card p-4 d-flex flex-row rounded-3 justify-content-between" style="width: 100%">
      <img src={{vote.colleague.photo}} class="card-img-left" alt="Photo colleague"
        style="width: 100px; object-fit: cover;" />
      <div class="card-body d-flex flex-column align-items-start">
        <p class="card-title">{{vote.colleague.pseudo}}</p>
        <p class="card-text">
          {{vote.colleague.pseudo}} est {{vote.colleague.score <= 0 ? "détesté" : "aimé" }} et a désormais un score de
            {{vote.colleague.score}} {{vote.colleague.score <=0 ? ":-(" : ":-)" }} </p>
            <button type="button" class="btn btn-outline-dark mt-1 ms-1" (click)="supprimer(i)">Supprimer</button>
      </div>
    </div>
  </div>
</div>
